.wide #master, .wide .headerLinks {
  width: 1140px;
}

.wide #header {
  width: 1140px;
  margin: 0 auto 1px;
}

.wide #topLinks, .wide .footerLinks {
  width: 1140px;
}

.wide #topLinks div {
  width: 261px;
}

.wide #content {
  width: 989px;
}

.wide #mainContent {
  background: none;
  width: 1140px;
}
